
body {
	font-family: sans;
	font-size: 12px;
	background:#001F00 url("files/bg.png");
	background-attachment: fixed;
	overflow-x:scroll;
}

a {
	text-decoration:none;
	
}

#fg {
	margin:auto;
	float:center;
	min-width:800px;
	width:95%;
	max-width:95%;
}

#nav {
	padding: 5px 5px 5px 5px;
	width:15%;
	max-width:15%;
	min-width:15%;
}

#wid {
	padding:5px 5px 5px 5px;
	width:15%;
	max-width:15%;
	min-width:15%;
}

#main {

}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.wide {
	width:100%;
}

h1.main-title{
	color:white;
	font-size:50px;
}

div.box {
	border:2px solid black;
	background-color: #efefef;
}

div.sechead {
	background-color: #422CFF;
	color:#E8E8E8;
	font-size:14px;
	padding: 5px 5px 5px 5px;
}

div.secbody {
	margin: 10px 10px 10px 10px;
}

ul.nav{
    padding-left:0;
    list-style: none;
}

div.table {
	display:table;
}
div.tr {
	display:table-row;
}
div.td {
	display:table-cell;
}



